*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.tga binary
*.wav binary
*.bin binary
*.conf text eol=lf
*.service text eol=lf
*.timer text eol=lf
*.desktop text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.qml text eol=lf
*.yaml text eol=lf
