# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Type=Application
Name=Pocket DS 首次设置
Comment=设置本机账户密码
Exec=/usr/bin/python3 -I /usr/libexec/pocketds-firstboot-client.py
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
