include('/etc/mock/fedora-44-aarch64.cfg')

config_opts.setdefault('plugin_conf', {})
config_opts['plugin_conf'].setdefault('tmpfs_opts', {})
config_opts['plugin_conf']['tmpfs_opts']['keep_mounted'] = True

# Custom mock snippets configured in copr-crpmbuild config file - can be empty
config_opts['plugin_conf']['tmpfs_opts']['max_fs_size'] = '280g'



config_opts['rpmbuild_networking'] = True
config_opts['use_host_resolv'] = True

config_opts['macros']['%copr_username'] = 'linux4switch'
config_opts['macros']['%copr_projectname'] = 'pocketds'
config_opts['macros']['%vendor'] = 'Fedora Copr - user linux4switch'
config_opts['macros']['%buildtag'] = '.copr10794847'
config_opts['macros']['%__urlhelper_localopts'] = '--proto -all,+https,+ftps'


config_opts["dnf.conf"] += """

[copr_base]
name='Copr repository'
baseurl=https://download.copr.fedorainfracloud.org/results/linux4switch/pocketds/fedora-44-aarch64/
gpgcheck=0
enabled=1
skip_if_unavailable=0
metadata_expire=0
cost=1
best=1
"""
