<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Pocket DS</vendor>
  <vendor_url>https://github.com/ShadowBlip/InputPlumber</vendor_url>
  <action id="org.shadowblip.Output.ForceFeedback.Pulse">
    <description>Allow sending a bounded force feedback pulse</description>
    <message>Authentication is required to send a force feedback pulse</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
