libretro_directory = "/home/pocketds/.config/retroarch/cores"
libretro_info_path = "/home/pocketds/.config/retroarch/info"
assets_directory = "/home/pocketds/.config/retroarch/assets"
joypad_autoconfig_dir = "/home/pocketds/.config/retroarch/autoconfig"
system_directory = "/home/pocketds/.config/retroarch/system"
savefile_directory = "/home/pocketds/Saves/RetroArch"
savestate_directory = "/home/pocketds/States/RetroArch"
screenshot_directory = "/home/pocketds/Pictures/RetroArch"
recording_output_directory = "/home/pocketds/Videos/RetroArch"
core_options_path = "/home/pocketds/.config/retroarch/config/retroarch-core-options.cfg"
content_history_path = "/home/pocketds/.config/retroarch/content_history.lpl"
log_dir = "/home/pocketds/.config/retroarch/logs"

video_driver = "vulkan"
video_fullscreen = "true"
video_windowed_fullscreen = "true"
video_vsync = "true"
video_threaded = "false"
video_smooth = "false"
video_scale_integer = "false"
video_aspect_ratio_auto = "true"
# 21 is Core Provided. 22 is Custom and reuses stale custom_viewport_* values,
# which can place content outside the selected display after a layout change.
aspect_ratio_index = "21"
video_max_swapchain_images = "2"
video_hdr_enable = "false"

audio_driver = "pulse"
audio_enable = "true"
audio_sync = "true"
audio_out_rate = "48000"
audio_latency = "64"

input_driver = "udev"
input_joypad_driver = "udev"
input_autodetect_enable = "true"
input_player1_analog_dpad_mode = "1"
input_menu_toggle_gamepad_combo = "2"
input_quit_gamepad_combo = "0"
quit_press_twice = "true"
input_exit_emulator = "escape"

menu_driver = "ozone"
menu_show_advanced_settings = "false"
menu_pause_libretro = "true"
pause_nonactive = "false"
run_ahead_enabled = "false"
rewind_enable = "false"

autosave_interval = "30"
savestate_auto_save = "true"
savestate_auto_load = "true"
sort_savefiles_enable = "true"
sort_savestates_enable = "true"
config_save_on_exit = "true"
history_list_enable = "true"
playlist_entry_remove_enable = "1"
notification_show_autoconfig = "true"
log_to_file = "true"
log_to_file_timestamp = "true"
frontend_log_level = "1"
libretro_log_level = "1"
