# SPDX-License-Identifier: GPL-3.0-or-later
[D-BUS Service]
Name=net.hadess.PowerProfiles
Exec=/bin/false
User=root
SystemdService=pocketds-tuned-ppd.service
